%ul.dropdown-menu
  - current_person.notifications.reverse.each do |note|
    %li
      = note.content
      %a{:href => "#", title: "mark as viewed"}= fa_icon "eye"

      = form_for(note,
          html: {:method => :delete},
          data: { confirm: "Sure?" },
          ) do |f|
        = f.hidden_field :id, value: note.id
        %button.link.no-btn
          %span= fa_icon "trash-o"
